Templates/Project 8. CardFile Client Server/Calculator.Wсf/Calculator.Wpf/Connected Services/CalculatorServiceReference/CalculatorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Calculator.Wcf.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Calculator.Wcf.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CalculatorServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DigitInputMode" type="xs:boolean" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XRegister" type="xs:double" />
      <xs:element minOccurs="0" name="YRegister" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculatorServiceModel" nillable="true" type="tns:CalculatorServiceModel" />
</xs:schema>